.icon{
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    margin: 60px;
    margin-bottom: 10px;
    margin-left: 40px;
    margin-top: 50px;
}
.task{
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 10px;
    
    
}
.one{
   
    color: rgba(128, 128, 128, 0.438);
    
}
 .two{ 
    
    color: rgba(128, 128, 128, 0.438);
} 
.container1{
    width: 800px;
    height: 100px;
    display:flex;
    justify-content: space-evenly;
    margin: 30px;
    padding:0px;
    margin-left: 400px;
    margin-bottom: 5px;
    
}
.box{
    border-radius: 3%;
    width: 200px;
    height: 300px;
    box-shadow: 4px 4px 5px rgba(128, 128, 128, 0.479);
    border: 3px solid rgba(165, 42, 42, 0.425);
    margin-right: 30px;
    

}    
.div1{
    text-align: center;
    color: chocolate;
    border-bottom: 1px solid black;
    margin-left: 30px;
}
.div2{
    text-align:right;
    margin-right: 20px;
    color: red;
    text-decoration-line: line-through;
}
.notshow{
    filter:blur(8px)
}
.hide{
    display: none;;
} 




@media(max-width:600px){
     .container{ 
        /* width: 300px; */
    } 
    .icon{
        display: flex;
        justify-content: space-between;
        width: 100%;
        margin: 40px;
        margin-bottom: 10px;
        margin-left: 15px;
        margin-top: 60px;
    }
    .task{
        font-family: Arial, Helvetica, sans-serif;
        margin-left: 5px;
        
    
    }
    .two{ 
       display: none;
        color: rgba(128, 128, 128, 0.438);
    } 
    .one{
        color: rgba(128, 128, 128, 0.438);
        
    }
 .container1{
        width: 200px;
        height: 100px;
        display:inline; 
        /* justify-content: space-evenly; */
        /* margin: 30px; */
        padding:0px;
        margin-left: 350px;
        margin-bottom: 5px;

         
    }
    .box{
        border-radius: 10px;
        width: 250px;
        height: 60px;
        box-shadow: 4px 4px 5px rgba(128, 128, 128, 0.479);
        border: 3px solid rgba(165, 42, 42, 0.425);
        margin-right: 50px;
        margin: 25px;
    
    }   
    
    .div1{
        
        text-align:left;
        color:rgba(128, 128, 128, 0.808);
        border-bottom: 1px solid white;
        margin-left: 30px;
    }
    .div2{
        display: none;
        text-align:right;
        margin-right: 20px;
        color: red;
        text-decoration-line: line-through;
    }
    .pending{
        display: none;;
    }
    .notshow{
        filter:blur(8px)
    }
    .hide{
    display: inline;
    } 
    a{
        margin-left: 130px;
    }
}
